<!DOCTYPE html>
<html>
  <head>
    <title>Bills</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
  </head>

  <body class="A4">
    <%= yield %>
  </body>
</html>
